.App {
	padding: 20px;
}

.spinner {
	font-size: 1rem;
	margin-top: 5px;
	color: #444;
	animation: spin infinite 2s linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}